@page
@model IndexModel
@{
    ViewData["Title"] = "GuestBook";
}

    <h1>Gästebuch</h1>
    <form action="/" method="post">
            <label>Titel: </label>
            <input type="text" name="title" value="Titel" /> <br />

            <label>Name: </label>
            <input type="text" name="name" value="Name" /> <br />

            <label>Kommentar: </label><br />
            <textarea name="comment"></textarea><br />

            <input type="submit" />
        @Html.AntiForgeryToken()
    </form>
    <h2>Gästebucheinträge</h2>
    <ul>
        @foreach (var item in Model.GuestBookEnties)
        {
            <li>
                <p>@Html.DisplayFor(modelItem => item.Title) </p>
                <p>@Html.DisplayFor(modelItem => item.Comment)</p>
                <p>Erstellt von @Html.DisplayFor(modelItem => item.Name) am @Html.DisplayFor(modelItem => item.Time)</p>
                <hr />
            </li>
        }
    </ul>
